@page "/superheros"

<PageTitle>Super Heros</PageTitle>
<h3>Super Heros</h3>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Hero Name</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in SuperHeroService.Heros)
       {
           <tr>
           <td>@hero.FirstName</td>
           <td>@hero.LastName</td>
           <td>@hero.HeroName</td>
           <td>@hero.Comic.Name</td>
           </tr>
       }
    </tbody>
</table>
@code {

}
